<!DOCTYPE html>
<html>

<head>
  <title>Phonebook CRUD Romain Lussier</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-touch.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-mocks.js"></script>
  <script type="text/javascript" src="js/phonebookController.js"></script>

  <link rel="stylesheet" href="css/phonebook.css" />

</head>

<body ng-app="phonebookApp">
  <div ng-controller="phonebookController">
    <div class="container">
      <h1 class="alert alert-info" role="alert">Phonebook CRUD</h1>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" nowrap>
              Name
              <input type="checkbox" ng-model="filterName" />
            </th>
            <th scope="col" nowrap>
              Phone Number
              <input type="checkbox" ng-model="filterPhoneNumber" />
            </th>
            <th scope="col" nowrap>
              <!-- <input type="checkbox" ng-model="filterKey" /> -->
            </th>
          </tr>
          <tr>
            <th>
              <input type="text" ng-show="filterName" ng-model="search.name" />
            </th>
            <th>
              <input type="text" ng-show="filterPhoneNumber" ng-model="search.tel" />
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in data | filter:search">
            <td>
              {{contact.name}}
              <input type="text" ng-model="editName" placeholder="New Name" ng-if="contact.edit"/>
            </td>
            <td>
              {{contact.tel}}
              <input type="text" ng-model="editTel" placeholder="New Phone Number" ng-if="contact.edit"/>
            </td>
            <td>
              <button type="button" ng-click="deleteContact(contact._id)" class="btn btn-danger">Remove</button>
              <button type="button" class="btn btn-info" ng-click="enterEdition(contact._id)" ng-if="!contact.edit">Edit</button>
              <button type="button" class="btn btn-success" ng-disabled="!validateForm(editName,editTel)" ng-if="contact.edit">Edit</button>
            </td>
          </tr>
          <form ng-submit="addContact(newName,newTel)">
            <td>
              <input type="text" ng-model="newName" placeholder="Name" />
            </td>
            <td>
              <input type="text" ng-model="newTel" placeholder="+39 02 1234567" />
            </td>
            <td>
              <button type="submit" class="btn btn-primary" ng-disabled="!validateForm(newName,newTel)">Add</button>
            </td>
          </form>

        </tbody>
      </table>
    </div>
  </div>
</body>

</html>